@charset "UTF-8";
/*reset css*/
*, ::before, ::after{
    /*选中所有的元素，和伪元素*/
    margin: 0;
    padding: 0;
    /*针对移动端*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;/*主流移动端浏览器兼容*/
    /*点击高亮效果清除*/
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
table {
    border-collapse: collapse;
}
ul, ol ,dl{
    list-style: none;
}
s, i, em,b {
    font-style: normal;
    text-decoration: none;
    font-weight:400;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
fieldset, img, input, button ,textarea,select{
    /*清除移动端输入框特有的样式*/
    -webkit-appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
    vertical-align:middle;
}

/*base css*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.oh{
    overflow: hidden;
}
.ac{
    text-align: center;
}
.ar{
    text-align: right;
}
.al{
    text-align: left;
}
.hide{
     display: none;
 }
.block{
    display: block;
}
.vh{
    visibility: hidden;
}

/*model css*/


